* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-list {
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto; 
    list-style: none;   
}

.nav-links {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.home, .about, .contact{
    height: 90vh;
    position: absolute;
    width: 100%;
}

.home-content, .about-content, .contact-content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img{
        height :60%;
    }
    h1{
        font-size: 50px;
        margin: 30px 0px;
    }
    p{
        font-size: 20px;
    }
}

.home {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.about{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.contact{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8e8e8e;
    color: white;
    text-align: center;
  }